/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.5;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

a,
a:link,
a:visited {
    color: inherit;
}


/* ........End of CSS Reset Code....... */
/* Colours values used in the layout #c78c06, #ffe6ac, #222 and white */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
}

h1 {
    font-size: 5.063rem;
}

h2 {
    font-size: 3.375rem;
}

h3 {
    font-size: 2.25rem;
}

h4,
p,
li,
button,
label,
input,
textarea,
td,
th,
a {
    font-size: 1rem;
}

i::before {
    font-size: 0.8rem;
}


/* Header with Menu Bar */
header {
    background-color: #222;
}

.menu-nav {
    max-width: 1200px;
}

#logo {
    width: 98%;
    background-color: #c78c06;
    margin: 0 1% 0 1%;
}

.nav li {
    text-align: center;
    width: 98%;
    padding: 20px 0 20px 0;
    margin: 0 1% 0 1%;
}

.nav li a {
    text-decoration: none;
    color: #c78c06;
    width: 100%;
}

.nav li:first-child a {
    background-color: #c78c06;
    padding: 1rem 2rem;
    color: #222;
}

#searchbar {
    display: flex;
    width: 100%;
    height: 40px;
}

#searchbar input {
    width: 100%;
    margin: 0;
    padding: 0;
}

#searchbar button {
    align-content: center;
    width: 40px;
    height: 40px;
    padding: 3px;
    background-color: #222;
    border: 0.5px solid #c78c06;
}

#searchlogo {
    width: 24px;
    height: 24px;
    fill: #c78c06;
}

/* Welcome Part */
.welcome {
    width: 100%;
    color: white;
    background: #222 url("../images/main-banner.jpg") repeat center center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.welcomediv {
    background-color: rgba(22, 22, 22, 0.6);
    width: 96%;
    padding: 5% 2% 2% 2%;
}

.welcomediv a {
    box-sizing: border-box;
    width: max-content;
    display: inline-block;
    padding: 2%;
    background-color: #c78c06;
    align-items: center;
    margin: 2% 2% auto 0;
    color: #222;
}


/* About Us part */
#aboutus {
    width: 98%;
    padding: 1%;
    background-color: #ffe6ac;
}

#aboutus img {
    width: 100%;
}

#aboutus p {
    padding-bottom: 3%;
    padding-right: 1%;
}

/* Our Services part */
.ourservicegrid {
    margin-top: 5%;
}

#services {
    display: grid;
    margin-bottom: 4%;
    grid-template-rows: repeat(5, 1fr);
}

.ourservicebox {
    background-color: #ffe6ac;
    width: 100%;
    margin-top: 2%;
    padding-bottom: 2%;
}

.serviceimage {
    width: 100%;
}

.ourservicebox h3,
.ourservicebox p {
    margin: 2%;
}

.botton {
    box-sizing: border-box;
    width: max-content;
    display: inline-block;
    padding: 2%;
    background-color: #222;
    align-items: center;
    text-align: center;
}

.detail {
    margin: 2% 2% auto 2%;
}

.vision {
    margin: 2% 2% auto 0;
}

#services a {
    color: white;
}

/* Vision part */
#vision {
    position: relative;
    width: 100%;
    background: gray url("../images/vision.jpg") no-repeat center center;
    background-size: cover;
    color: white;
    padding: 2%;
}

#vision a {
    border: 1px solid #c78c06;

}

/* Our Team part */
#team {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

#team div {
    background-color: #ffe6ac;
    width: 100%;
}

#team img {
    width: 100%;
}

#team hr {
    width: 95%;
    border: 0.5px solid #c78c06;
}

#team h3,
#team h4,
#team p {
    margin: 2%;
}

/* Contact Us part */
#contact h2,
#contact h3,
#contact input,
#contact label,
#contact textarea {
    width: 96%;
    margin: 1% 2% 2% 2%;
}

.formbutton {
    height: 2rem;
    color: #c78c06;
    background-color: #222;
    margin-left: 2%;
}

/* Hours of Operation table */
table {
    width: 100%;
}

th {
    border: 1px solid black;
    background-color: #ffe6ac;
    justify-self: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
}

td {
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1%;
}

/* Location Map part */
#map {
    margin-top: 5%;
}

#map iframe {
    width: 100%;
    height: 300px;
}

/* Footer part */
footer {
    background-color: #222;
    color: #c78c06;
    padding: 1%;
}

/* ...................Desktop Styles................... */
/* ---------------------------------
      Media Query 760px and above
----------------------------------*/
@media screen and (min-width: 760px) {

    p {
        font-size: 1rem;
    }

    /* Styling Header */
    #logo {
        background-color: #222;
    }

    .menu-nav {
        max-width: 1200px;
        width: 100%;
        position: relative;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 5fr 2fr;
        align-items: center;
        padding: 1% 0 1% 0;
    }

    .nav ul {
        display: flex;
        flex-direction: row;
    }


    .welcome {
        width: 100%;
        padding: 3% 0 3% 0;
    }

    .welcomediv {
        max-width: 1200px;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        margin: 0 auto;
    }

    .welcomediv div {
        padding: 2%;
    }

    /* About Us Part */
    #about {
        background-color: #ffe6ac;
    }

    #aboutus {
        max-width: 1200px;
        width: 100%;
        box-sizing: border-box;
        padding: 1%;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #aboutus img {
        width: 50%;
        padding-right: 2%;
    }

    /* Our Services part */
    .ourservicegrid {
        max-width: 1200px;
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        position: relative;
    }

    .ourservicebox {
        display: flex;
        flex-direction: column;
    }

    #services {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 0.6fr;
        row-gap: 5px;
        column-gap: 10px;
    }

    #ourservices {
        grid-column: 1/4;
    }

    #marketing {
        grid-column: 4/7;
    }

    #video {
        grid-column: 1/3;
    }

    #web {
        grid-column: 3/5;
    }

    #print {
        grid-column: 5/7;
    }

    .detail {
        width: 95%;
        height: 70px;
        align-self: flex-end;
        margin-top: auto;
        margin-bottom: 0;
    }

    /* Our Vision part */
    .ourvision {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        position: relative;
        padding-left: 1%;
        padding-right: 1%;
    }

    /* Our Team part*/
    #team {
        max-width: 1200px;
        width: 100%;
        display: grid;
        margin: 0 auto;
        box-sizing: border-box;
        position: relative;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.3fr 1fr 1fr;
    }

    #team h2 {
        grid-column: 1/3;
        align-self: end;
    }

    #bobpic {
        grid-column: 2/3;
    }

    #bobbox {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    /* Contact Us form */
    #contact {
        max-width: 1200px;
        box-sizing: border-box;
        position: relative;
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.3fr 1fr 0.5fr;
        grid-gap: 5px;
    }

    #contact h2 {
        grid-column: 1/3;
        align-self: end;
        margin-left: 0;
    }

    /* Hours of Operation part */
    #hours {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    #hours h3 {
        margin: 5% 0 1% 0;
    }

    /* Location Map part */
    #map iframe {
        height: 90%;
    }

    #map {
        margin-top: 0;
    }

    /* Footer part */
    footer h6 {
        text-align: left;
    }
}